project = "docker-1234"
region = "europe-west-1"
cluster_name = "default-cluster-1"
zone = "europe-west1-b"
disk_size = 20
node_count_1 = 2
node_count_2 = 1
machine_type_1 = "g1-small"
machine_type_2 = "n1-standard-2"
is_preemptible = true
disable_network_policy_addon = true
enable_network_policy = false
enable_legacy_abac = true
